admin panel
admin login
encapsulationn inheritence
polymorphysm
abstraction
database

class HotelManagement:
    def __init__(self):
        self.db = connect_to_database()
        self.cursor = self.db.cursor()
       
class Room:
    def __init__(self, room_type, rate_per_night):
        self.room_type = room_type
        self.rate_per_night = rate_per_night

    def __str__(self):
        return f"Room Type: {self.room_type}, Rate per Night: Rs {self.rate_per_night}"



class HotelBill:
    def __init__(self, additional_service_charge=1800):
        self.room_rent = 0
        self.restaurant_bill = 0
        self.laundry_bill = 0
        self.game_bill = 0
        self.total_bill = 0
        self.additional_service_charge = additional_service_charge

    def calculate_total_bill(self):
        self.total_bill = self.room_rent + self.restaurant_bill + self.laundry_bill + self.game_bill + self.additional_service_charge

    def display_bill(self, customer):
        print("\n******HOTEL BILL******")
        print("Customer details:")
        print(customer)
        print("Your Room rent is:", self.room_rent)
        print("Your Food bill is:", self.restaurant_bill)
        print("Your laundry bill is:", self.laundry_bill)
        print("Your Game bill is:", self.game_bill)
        print("Your sub total bill is:", self.total_bill - self.additional_service_charge)
        print("Additional Service Charges is", self.additional_service_charge)
        print("Your grand total bill is:", self.total_bill)


    def restaurant_bill(self):
        print("*****RESTAURANT MENU*****")
        menu = {
            1: ("water", 20),
            2: ("tea", 10),
            3: ("breakfast combo", 90),
            4: ("lunch", 110),
            5: ("dinner", 150)
        }
        while True:
            choice = int(input("Enter your choice (1-6): "))
            if choice == 6:
                break
            if choice in menu:
                quantity = int(input("Enter the quantity: "))
                self.bill.restaurant_bill += menu[choice][1] * quantity
            else:
                print("Invalid option")

    def laundry_bill(self):
        print("******LAUNDRY MENU*******")
        menu = {
            1: ("Shorts", 3),
            2: ("Trousers", 4),
            3: ("Shirt", 5),
            4: ("Jeans", 6),
            5: ("Girl suit", 8)
        }
        while True:
            choice = int(input("Enter your choice (1-6): "))
            if choice == 6:
                break
            if choice in menu:
                quantity = int(input("Enter the quantity: "))
                self.bill.laundry_bill += menu[choice][1] * quantity
            else:
                print("Invalid option")

    def game_bill(self):
        print("******GAME MENU*******")
        menu = {
            1: ("Table tennis", 60),
            2: ("Bowling", 80),
            3: ("Snooker", 70),
            4: ("Video games", 90),
            5: ("Pool", 50)
        }
        while True:
            choice = int(input("Enter your choice (1-6): "))
            if choice == 6:
                break
            if choice in menu:
                hours = int(input("No. of hours: "))
                self.bill.game_bill += menu[choice][1] * hours
            else:
                print("Invalid option")

    def online_booking(self):